#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

h1 {
  text-align: left;

}

.edit1 {
  display: ;
}

label {
  font-size: 10px;
}

.phone-label {
  font-size: 12px;
}
